%h2 Add Grade

= form_tag '/courses/'+params[:course_id]+'/student/'+params[:student_id]+'/grades', :method => :post do
  = render partial: 'grade_form' 
  = submit_tag 'Add Grade'

= link_to 'Back', '/courses/'+params[:course_id]+'/student/'+params[:student_id]+'/grades'