html, body {
  margin: 0;
  padding: 0;
  background: #f1ffff;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}
div#main {
  margin: 0;
  padding: 10px 20% 30px;
  text-align: center
}

ul#details {
  margin: 0;
  padding: 10px 20% 30px;
  text-align: center
}

table.form {
  margin: 0;
  padding: 10px 40% 30px;
  text-align: center
}

div#login {
  margin: 0;
  padding: 30px 35% 0px;
  text-align: center
}

.new {
  margin: 0;
  padding: 15px 42% 0px;
  text-align: center
}


a {
  background: transparent;
  color: #245315;
  text-decoration: underline;
  font-weight: bold;
}

a2 {
  background: transparent;
  color: #245315;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: #11155a;
  font-size: 200%;
  font-style: italic;
  display: block;
  width: 100%;
  /*border-bottom: 3px solid DarkSlateGrey; */
}
h1.title {
  margin: 0 0 1em;
  padding: 10px;
  background-color: orange;
  color: white;
  border-bottom: 4px solid gold;
  font-size: 2em;
  font-style: normal;
}
table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
}
table#movies th {
  border: 2px solid white;
  font-weight: bold;
  background-color: wheat;
}
table#movies th, table#movies td {
  padding: 4px;
  text-align: left;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
  }
  
form_tag#center {
    margin-left:auto; 
    margin-right:auto;
  }

#notice, #warning {
  background: #e90606;
  margin: 40px 43% 0px 43%;
  /*margin: 1em 0;*/
  padding: 4px;
  text-align: center;
}

#notice2, #warning2 {
  background: #06e949;
  margin: 40px 43% 0px 43%;
  /*margin: 1em 0;*/
  padding: 4px;
  text-align: center;
}

form label {
  /*display: block; */
  line-height: 25px;
  font-weight: bold;
  color: #538119;
}

td {
  text-align: left;
  width: 200px;
}

th {
  text-align: left;
}

th.center {
  text-align: center;
}

