%table.center
  %tbody
    %tr
      %td
        = label :assessmentitem, :name, 'Name'
      %td
        = text_field :assessmentitem, 'name'
    %tr
      %td
        = label :assessmentitem, :weight, 'Weight'
      %td
        = text_field :assessmentitem, 'weight'
        
%p